// Chats_li.scss
main#Chats li{
    border-bottom:1px solid #ebebeb;    
    a {
        display:flex;flex-wrap:wrap;align-items:center;font-size:16px;
        span{
            &.chats_img {display:block;width:50px;height:50px;margin:15px;border-radius:50%;background-size:cover;background-repeat:no-repeat;background-position:0 0;}
            &.chats_cont {
                flex:auto;display:flex;flex-direction:column;justify-content:center;
    
                .chats_name {font-weight:700;margin-bottom:5px;}
                .chats_lastest {font-size:12px;color:#8e9399;}
            }
            &.chats_time {margin-right:15px;font-size:12px;color:#8e9399;}
        }
    }
    
}


